* {
    margin: 0;
    padding: 0;
}

/* filter */

.collections {
    display: flex;
    margin: 1.5%;
}

.filter {
    width: 22%;
    border-right: 3px solid #4f98CA;
    padding-right: 15px;
}

.filter label {
    display: block;
}

.filter__box h4 {
    margin-bottom: 5px;
    margin-top: 15px;
}

.filter__box label {
    font-weight: 500;
    font-size: small;
    padding: 2px;
}

.products__container {
    margin: 15px;
    width: 100%;
}

.products__container .search input {
    /* background-color: red; */
    width: 95%;
    padding: 10px;
    border: 0.1px solid black;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 15px;
}

.products__card {
    background-color: rgb(232, 226, 226);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

.products__card img {
    width: 200px;
    height: 320px;
    object-fit: cover;
}

/* media quires */

/* -------------------------
   Base Styles (Mobile First)
-------------------------- */

/* -------------------------
   1. Small Mobile (max 480px)
-------------------------- */
@media (max-width: 480px) {
    body {
        background: lightblue;
    }

    .filter__box h4 {
        font-size: 17px;
    }

    .products__card img {
        width: 80px;
        height: 150px;
        object-fit: cover;
    }

    .products__container .search input {
        width: 70%;
    }
}

/* -------------------------
   2. Mobile (481px to 767px)
-------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background: lightgreen;
    }

    .filter__box h4 {
        font-size: 18px;
    }

    .products__card img {
        width: 140px;
        height: 200px;
        object-fit: cover;
    }
}

/* -------------------------
   3. Tablet (768px to 991px)
-------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: orange;
    }
}

/* -------------------------
   4. Laptop / Small Desktop (992px to 1199px)
-------------------------- */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background: pink;
    }
}

/* -------------------------
   5. Large Desktop (1200px to 1399px)
-------------------------- */
@media (min-width: 1200px) and (max-width: 1399px) {
    body {
        background: violet;
    }
}

/* -------------------------
   6. Extra Large Screen (1400px and above)
-------------------------- */
@media (min-width: 1400px) {
    body {
        background: grey;
    }
}