* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f7;
}

.contact-form {
    width: 80%;
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.contact-form h2 {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 80%;
}

textarea {
    height: 150px;
    resize: vertical;
}

.btn {
    display: block;
    width: 80%;
    padding: 12px;
    background-color: #4f98CA;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #4f98CA;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.btn:hover {
    border: 2px solid black;
}


/* contact-sucessfull */

.contact-sucessfull {
    background-color: rgb(239, 236, 236);
    width: 300px;
    padding: 10px;
    margin: 50px auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-sucessfull img {
    width: 50px;
    padding: 20px;
}

.contact-sucessfull h3 {
    padding-bottom: 20px;
}