* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: White;
    font-size: 12px;
}

.offer {
    background-color: black;
    color: white;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8%;
    gap: 5%;
}

#closeOffer {
    cursor: pointer;
    padding: 5px;
}

/* navbar */

.navbar {
    background-color: #4f98CA;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    position: sticky;
    top: 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__menu a {
    /* background-color: #458dbd; */
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
}

.navbar__menu a:hover {
    background-color: black;
    color: #458dbd;
}

.navbar img {
    width: 20px;
    cursor: pointer;
}

#sideNav {
    background-color: #4f98CA;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 20;
    transition: all;
    transition-duration: 0.9s;
}

.close {
    padding: 19px;
    text-align: right;
}

#closeNav {
    display: inline;
    cursor: pointer;
}

.sideNavMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sideNavMenu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

/* .sideBarMenu a:hover {
    background-color: #4688b4;
} */

.brands {
    /* background-color: red; */
    padding: 1.5%;
}

.brands__logo {
    /* background-color: orange; */
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.brands__logo__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.brands__logo__name img {
    border-radius: 50%;
    width: 40px;
    border: solid black 1px;
}

.info {
    /* background-color: green; */
    padding: 1.5%;
}

.info__1 {
    /* background-color: yellow; */
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.info__1 h3 {
    font-size: 13px;
}

.info__1 p {
    font-size: 8px;
}

.info__2 {
    /* background-color: orange; */
    font-size: small;
    display: flex;
    gap: 3%;
    margin-top: 2%;
}

.info__2__container {
    background-color: #e9e9e9;
    flex-grow: 1;
    font-size: 8px;
    border-radius: 10px;
    padding: 1%;
}

.info__2__container img {
    width: 25px;
    margin-bottom: 10px;
}

/* limited offer */

.limited-offer {
    background-color: #50D890;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 1.5%;
    padding: 10px;
    border-radius: 5px;
}

.limited-offer__banner img {
    width: 300px;
    border-radius: 10px;
}

.limited-offer__desc button {
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: none;
}

.limited-offer__desc button:hover {
    background-color: black;
    color: white;
}

/* news letter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: small;
    margin-top: 25px;
    padding: 1.5%;
}

.newsletter input {
    width: 60%;
    border: 2px solid black;
    padding: 10px;
    font-size: medium;
}

.newsletter button {
    background-color: red;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.newsletter button:hover {
    background-color: rgba(255, 0, 0, 0.756);
}

/* .newsletter img {
        width: 50px;
    } */

/* footer */

.footer {
    background-color: #eeeeee;
    color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.footer__icons img {
    width: 15px;
    margin-right: 45px;
}

.arrivals__container {
    padding: 1.5%;
}

.arrivals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 1%;
}

.arrivals__card img {
    width: 60px;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.arrivals__card a {
    text-decoration: none;
    font-weight: 600;
    display: block;
}

/* media quiries */

/* small mobile (max 480px) */
@media (max-width:480px) {
    body {
        /* background-color: red; */
        font-size: 8px;
    }

    .limited-offer__banner img {
        width: 150px;
    }

    .info__2__container {
        font-size: 6px;
    }

    .info__2__container img {
        width: 20px;
    }
}

/* mobile (481px to 767px */
@media (min-width:481px) and (max-width:767px) {
    body {
        /* background-color: yellow; */
        /* already assigned */
    }
}

/* Tablet (768px to 991px) */
@media (min-width:768px) and (max-width:991px) {
    body {
        /* background-color: orange; */
        font-size: 16px;
    }

    .navbar__menu a {
        display: block;
    }

    .navbar__menu img {
        display: none;
    }

    .brands__logo__name img {
        width: 60px;
    }

    .arrivals__card img {
        width: 100px;
        height: 240px;
    }

    .limited-offer__banner img {
        width: 350px;
    }

    .info__2__container {
        font-size: 10px;
    }

    .info__2__container img {
        width: 37px;
    }
}

/* Laptop /small Desktop (992px to 1199px */
@media (min-width:992px) and (max-width:2400px) {
    body {
        /* background-color: green; */
        font-size: 20px;
    }

    .navbar__menu a {
        display: block;
    }

    .navbar__menu img {
        display: none;
    }

    .brands__logo__name img {
        width: 100px;
    }

    .arrivals__card img {
        width: 100%;
        height: 500px;
    }

    .limited-offer__banner img {
        width: 450px;
    }

    .info__2__container {
        font-size: 12px;
    }

    .info__2__container img {
        width: 50px;
    }
}